.Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Dropdown {
  margin-top: 10px;
  outline: none;
  background: var(--theme__text-colour);
  border: 2px solid transparent;
  color: var(#37474f);
  border-radius: 4px;
  padding: 0.5em 1em;
}

.Center {
  display: table;
  margin: 0 auto;
}